<% if user_signed_in? && current_user.is_admin? %>
  <div class="caption">Users</div>
  <table>
    <thead>
    	<tr>
    	  <th>Email</th>
    	  <th></th>
    	  <th></th>
        <th></th>
    	</tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% if user != current_user %>
          <tr>
            <td><%= user.email %></td>
            <td><%= link_to 'Watch blog', user_posts_path(user) %></td>
            <td><%= link_to 'Make admin', user_admin_path(user) %></td>
            <td><%= link_to 'Remove admin rights', user_remove_admin_path(user) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="msg">You are not allowed to this page.</p>
<% end %>
