<div class="caption">All Posts</div>
<% if @posts.count == 0 %>
  <p class="msg"> You don't have any posts yet</p>
<% end %>
<div class="buttons">
    <b><%= link_to "New Post", new_post_path %></b>
</div>
<% @posts.each do |post| %>
  <div class="post_wrapper">
    <h2 class="title"><%= link_to post.title, post %></h2>
    <p class="date"><%= post.created_at.strftime("%B %d %Y")%></p>
    <p><b>Posted by: </b><%= post.user.email %></p>
  </div>
<% end %>